/*.boardTitBox { display: table; margin: 0 auto; }
.boardTitBox > * { display: table-cell; vertical-align: middle; }
.boardTitBox .bigTit > a { display: table; table-layout: fixed; }
.boardTitBox .bigTit .ellipsis { display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; white-space: normal; }
.boardTitBox .btnSet { margin-left: 4px; }*/

.boardTitBox { margin-bottom: 40px; text-align: center; }
.boardTitBox > .bigTit { display: inline-block; position: relative; }
.set { position: absolute; top: -5px; right: -40px; }
.set > a { display: block; padding: 4px; font-size: 0.8rem; font-weight: 400; border: 1px solid; }

/* 좋아요 */
.likeBox { position: relative; }
.likeList { height: 240px; background: #ffffff; position: absolute; right: -260px; top: -16px; z-index: 10; overflow-y: scroll; }
.likeList > ul { width: 250px; padding: 12px; }
.likeList li { display: table; width: 100%; table-layout: fixed; }
.likeList li~li{ margin-top: 12px; }
.likeList li > * { display: table-cell; vertical-align: middle; text-align: left; }
.likeList li > div:first-child { width: 40px; }
.likeList li > div:last-child { width: calc(100% - 40px); padding-left: 8px; }
.likeList li > div:last-child .ellipsis { display: block; }
.btnLike { position: relative; }
.btnLike:before { content: ''; display: block; background: url(~assets/resource/common/icon/likeLine_bk.svg) no-repeat center; position: absolute; top: 50%; left: 0; }
.btnLike:hover:before { background-image: url(~assets/resource/common/icon/likeLine_bl.svg); }
.btnLike.fill:before { content: ''; display: block; background: url(~assets/resource/common/icon/likeFill_bl.svg) no-repeat center; }





