.board_tit_box { padding-bottom: 10px; justify-content: space-between; }
.board_tit_box > h2 { min-width: 0; cursor:pointer;}
.board_tit_box > button { flex-shrink: 0; }

.detail_box { position: relative; }
.detail_box > .head { padding: 12px 0; }
.detail_box h3 { margin-bottom: 10px; }
.detail_info { justify-content: space-between; }
.detail_info .profile_img_box_s { margin-right: 6px; }
.tool_box > div { display: inline-block; vertical-align: middle; }
.tool_box > div~div { margin-left: 2px; }
.tool_box button { min-width: 32px; min-height: 32px; border-radius: 12px; background-color: rgba(225, 231, 243, 0.6); }
.detail_box > .cont { padding: 20px 0; }
.article { min-height: 200px; }
.file_list{ margin-top: 8px; }


.tag_box { margin-top: 16px; }



.side_btn_box > div > button {  border-radius: 10px; background-color: #ffffff; }



.comment .tool_box button { min-width: 28px; min-height: 28px; border-radius: 10px; background-size: 15px; }
.comment .btn_like > svg { width: 14px; }




@media (max-width: 767px){
  .content { padding-left: 12px; padding-right: 12px; }
  .detail_info > .tool_box> .tooltip:nth-child(1), .detail_info > .tool_box> .tooltip:nth-child(2) { display: none; }
  .file_list > li { width: 100%; }
  .file_list > li ~ li { margin-top: 4px; }
  .file_list > li > .flex_box { justify-content: space-between; }
}







.comment_list_box { margin-top: 12px; }
.comment_list_box .profile_img_box { width: 32px; height: 32px; margin-right: 6px; }
.comment { margin: 16px 0; }
.comment.answer { padding-left: 38px; }
.comment > .flex_box { align-items: flex-start; }
.comment .flex_box > .profile_img_box { flex-grow: 0; flex-shrink: 0;}

.comment .flex_box > .txt_box { flex-grow: 1; flex-shrink: 1;}
.comment .id { margin-right: 4px; font-weight: 500; }
.comment .cont { margin : 4px 0 8px; }
.comment_btns > .btn_edit { width: 28px; height: 24px; background-size: 16px; background-color: #ffffff; }
.comment_write_box {  margin-top: 16px;  }
.comment_write_box > .flex_box { padding-bottom: 4px; border-bottom: 1px solid rgba(225, 231, 243, 0.4); }
.comment_write_box input { flex: 1 1 auto; padding-left: 2px; }
.comment_write_box  .btn_eraser { margin-right: 4px; }
.comment_write_box .btn_box { margin-top: 6px; text-align: right; }
.comment_write_box .btn_box > button { height: 36px; line-height: 36px; border-radius: 10px; }
.btn_show { display: inline-block; margin: 6px 2px; color: #ffac00; }
.answer_box { margin-left: 38px; }


/* 반응형 아이패드까지만
@media (min-width: 768px)  {
	.move { width: 100%; position: absolute; left: 0; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); }
	.move > button { position: absolute; }
	.move > button > span { display: block; }
	.move > .prev { left: -36px; }
	.move > .next { right: -36px; }
}*/

.mobile_nav { width: 100%; height: 50px; position: fixed; bottom: 0; left: 0; justify-content: space-around; background-color: #fff; }
.mobile_nav > li { flex: 1; text-align: center; }
.mobile_nav > li > button { width: 36px; height: 36px; }
