@charset "utf-8";


/* 리스트 테이블박스 */
.articleListBox { min-width: 800px; margin-top: 16px; }
.articleListBox > ul { display: table; width: 100%; height: 48px; margin-bottom: 4px; background: #ffffff; border-radius : 4px; }
.articleListBox > ul > li { display: table-cell; vertical-align: middle; text-align: center; font-weight: 500; }
.articleListBox > ul > li:first-child, .articleListBox > ul > li:last-child { width: 8%; }
.articleListBox > ul > li:nth-child(2) { width: 50%; }
.articleListBox > ul > li:nth-child(3), .articleListBox > ul > li:nth-child(5) { width: 12%; }
.articleListBox > ul > li:nth-child(4) { width: 10%; }
.articleListBox > table { width: 100%; font-size: 15px; }
.articleListBox tr { height: 68px; border-bottom: 1px solid #eaefff; }
.articleListBox tbody tr:last-of-type { border-bottom: none; }
.articleListBox tr td:nth-child(2) { text-align: left; }
.articleListBox .titBox { display: table; }
.articleListBox .titBox > * { display: table-cell; vertical-align: middle; }
.articleListBox .tit strong { display: table; table-layout: fixed; }
.articleListBox .tit .ellipsis { display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; white-space: normal; }
.comment { padding-left: 8px; }
.comment > .lightblue { display: inline-block; min-width: 20px; height: 20px; padding: 0 4px; font-size: 13px; font-weight: 500;  line-height: 19px; text-align: center; border-radius: 10px; position: relative; }
.comment > .lightblue:before { content: ""; display: block; width: 0; position: absolute; top: 50%; left: -5px; margin-top: -4px; border-style: solid; border-width: 4px 8px 4px 0; border-color: transparent #87a2ff; }

.btnMore { width: 18px; height: 18px; margin: 20px auto 0; background: url(~assets/resource/common/icon/scroll.png) no-repeat center / 18px; text-indent: -9999px; }


