.board_head { margin-bottom: 40px; text-align: center; }
.board_tit { display: inline-block; max-width: 80%; position: relative; }
.board_tit > button { position: absolute; top: 50%; right: -36px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); }

.list_side { justify-content: space-between; margin: 40px 0 12px 0; }
.list_option > * { margin-left: 4px;}
.layout { display: inline-block; vertical-align: middle; }
.layout button { width: 40px; height: 40px; border: 1px solid #E1E7F3; border-radius: 8px; }


.article_list { display: grid; grid-template-columns: repeat(auto-fill, minmax(296px, 1fr)); }
.article_list > li { max-width: 360px; }
.article_list .profile_img_box { flex-shrink: 0;  width: 32px; height: 32px; margin-right: 6px; }
.article_list .profile_img_box+div{ min-width: 0; }
/*.article_list .img_box img { border-radius: 12px; }*/
.txt_box { padding: 12px 0; }
.writer { margin-bottom: 2px; }

.tit_box { margin: 12px 0; }
.article_tit { min-width: 0; }
.article_tit+div { flex-shrink: 0; }
.comment_count { display: inline-block; min-width: 20px; height: 18px; margin-left: 4px; padding: 0 4px; line-height: 18px; text-align: center; border-radius: 20px; }
.view { margin-right: 10px; }

.txt_box > div:nth-child(2) > .btn_like { width: 18px; height: 18px; }
.tag_box { margin-bottom: 12px; }

.react_box > .tooltip:first-child { margin-right: 12px;}



@media (max-width: 767px){
	.article_list { grid-template-columns: repeat(auto-fit, minmax(186px, 1fr)); }
  .txt_box { padding-left: 10px; padding-right: 10px; }
}
@media (min-width: 768px) {
  .list_side { padding: 0 10px; }
  .article_list { grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
  .article_list > li { margin: 20px 10px; }
}











/* 리스트
.article_list > li { width: 24%; margin: 0 0 20px 1%; float: left; border-radius: 12px; }
.article_list > li:nth-child(4n+1) { margin-left: 0 }
.article_box1 { background-color: #ffffff;margin-bottom: 4px; border-radius: 12px; }
.article_img { display: block; width: 100%; }
.article_img > div { position: relative; padding-top: 75%; overflow: hidden; }
.article_img > div > div { position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: translate(50%,50%); -ms-transform: translate(50%,50%); transform: translate(50%,50%); }
.article_img img { position: absolute; top: 0; left: 0; max-width: 100%; height: 100%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); object-fit: cover; border-radius: 12px 12px 0 0; }
.article_txt { padding: 12px;}


.writer > .profile_img { width: 30px; height: 30px; margin-right: 2px; }
.writer > * { display: inline-block; vertical-align: middle; }
.article_box2 > button~button { margin-left: 4px; }
.view .count { margin-left: 4px; }*/
