/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
  .boardSchBox { max-width: 1000px; width: 100%; margin: 0 auto; }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .boardSchBox { width: 100%; }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  .boardSchBox { width: 100%; }
}

.boardSchBox




.platfraListBox { margin-top: 40px; }
.boardSchBox select { height: 48px; }
.boardSchBox > div { background-color: rgba(255, 255, 255, 0.7); border-radius: 16px; }
.boardSchBox > div > * { float: left; }
.boardSchBox .schBox { width: calc(100% - 100px); position: relative; }
.boardSchBox .schBox > input { width: 100%; height: 48px; }
.listCount { font-size: 0.875rem; }

.schKind { width: 100px; background-color: transparent; }
.listOptionBox { margin-top: 20px; }
.listOptionBox .option { float: left; }

/* 리스트 상단 옵션
.listCount { font-size: 0.875rem; line-height: 40px; }

.platfraListBox .rightSide > * { display: inline-block; vertical-align: middle; margin-right: 8px; }
.platfraListBox .selectBox > .basic { height: 40px; line-height: 38px; font-weight: 300; background-color: rgba(255, 255, 255, 0.7); background-image: url(~assets/img/common/icon/select.png); background-repeat: no-repeat; background-size: 8px; border-radius: 20px; }
.order { width: 120px; background-position: 92px center; }
.count { display: none; width: 140px; background-position: 112px center; }



.schKind { width: 100px; background-position: 72px center; background-color: transparent; }
.articleSchWrap .boardSchBox:before { content: ''; display: block; width: 1px; height: 24px; background-color: #eaefff; position: absolute; top: 8px; left: 0; }


.articleSchWrap .boardSchBox > button { width: 20px; height: 20px; background-size: 20px; position: absolute; top: 50%; right: 14px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); text-indent: -9999px; }
.listOptionBox .btnSize2 { width: 60px; margin-right: 0; }
.sort > a { display: inline-table; width: 40px; height: 40px; vertical-align: middle; background-color: rgba(255, 255, 255, 0.7); }
.sort > a > span { display:table-cell; text-align: center; vertical-align: middle; }
.sort > a > span > span{ display: inline-block; width: 20px; height: 20px; background-repeat: no-repeat; background-position: 0 center; background-size: 50px; text-indent: -9999px; }
.sort_table > span > span { background-image: url(~assets/img/common/icon/layout1.png); }
.sort_card > span > span { background-image: url(~assets/img/common/icon/layout2.png); }
.sort + .btnSize2 { margin-right: 0; } */
