.article_write_wrap { max-width: 1200px; margin: 0 auto; }

.detail_box > div { margin-bottom: 12px; }

.upload_box { background: #F4F6FA; border-radius: 12px; position: relative; z-index: 20; }
.upload_box img { z-index: 10; border-radius: 12px;}
.upload_box .btn_delete { width: 36px; height: 36px; position: absolute; top: 12px; right: 12px; z-index: 15; background-color: rgba(255, 255, 255, 0.5); border-radius: 12px;  }

.upload_guide  { width: 100%; padding: 0 20px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); }
.upload_guide > p { text-align: center; }
.upload_guide > .btn_box { margin: 12px 0 20px; text-align: center; }
.requirement { flex-wrap: wrap; }
.requirement > li { position: relative; margin: 0 4px; padding-left: 8px; }
.requirement > li:before { content:''; display: block; width: 4px; height: 4px; background-color: #000; border-radius: 100%; position: absolute; top:8px; left: 0;}
.requirement svg { width: 16px; height: 16px; }


.tag_box { padding: 4px 0 }

.file_box { min-height: 76px; padding: 8px; position: relative; justify-content: space-between; background: #F4F6FA; border-radius: 12px; }
.file_list { flex: 1 1 auto; }
.file_box > .btn_box { flex: 0 0 auto; padding-left: 6px; }





 /* 기본 - 모바일 */
@media (max-width: 767px){
  .content { padding-left: 12px; padding-right: 12px;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.article_write_box { display: flex; flex-wrap: wrap; }
	.thumbnail_box { flex: 0 0 400px;  }
	.detail_box { padding-left: 20px; flex: 1 1 300px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.article_write_box { display: flex; flex-wrap: wrap; }
	.thumbnail_box { flex: 0 0 400px;  }
	.detail_box { padding-left: 20px; flex: 1 1 400px; }
}

@media (min-width: 1200px) {
	.article_write_box { display: flex; flex-wrap: nowrap; }
	.thumbnail_box { flex: 0 0 400px; }
	.detail_box { padding-left: 20px; flex: 1 1 800px; }
}
