@charset "utf-8";

/* 공통 */
.header { display: flex; justify-content: space-between; align-items: center; flex-wrap: nowrap; width: 100%; height: 72px; padding: 0 20px; position: fixed; top: 0; left: 0; z-index: 100; background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
.header .searchbox { width: calc( 100% - 54px); margin-right: 6px; }
.header > .right { font-size: 0; }
.header > .right > * { display: inline-block; vertical-align: middle; font-size: 14px; }
.login_off { display: none; }
.login_on .profile_img_box { display: block; width: 44px; height: 44px; }
.logo img { width: 100px; }

 /* 기본 - 모바일 */
@media (max-width: 767px){
	.header > .right { width: 50%; min-width: 140px; }

}

@media (min-width: 768px) and (max-width: 991px) {
    .header > .right { width: 40%; min-width: 400px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.header > .right { width: 40%; min-width: 400px; }
}

@media (min-width: 1200px) {
	.header { padding: 0 24px; }
	.header > .right { width: 40%; min-width: 400px; }
}
