@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { box-sizing: border-box!important; }

body { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-size: 0.9rem; font-weight: 400; line-height: 1.3; letter-spacing: 0.02em; color: #130f49; background-color: #f7f7f9; height: 100vh; }
h1, h2, h3, h4, h5, h6, strong, em, th{ font-weight: 600; }
a { cursor: pointer; }
div > textarea, div > img { display: block; }

/* 텍스트박스 디자인 */
input[type="text"], input[type="password"] { padding-left: 12px; }
textarea { padding: 12px; }
input[type="checkbox"], input[type="radio"], input[type="file"] { display: none; }
.basicInput { height: 46px; background: #ffffff; border: 1px solid #D4DAEA; border-radius: 8px; }
.basicInput:focus { border: 1px solid #14B9FF; box-shadow: 0 0 4px rgba(20, 185, 255, 0.5); -webkit-box-shadow: 0 0 4px rgba(20, 185, 255, 0.5); -moz-box-shadow: 0 0 4px rgba(20, 185, 255, 0.5);}
/* placeholder 디자인 */
input::placeholder. textarea::placeholder { font-weight: 300; color: #7D7B9B; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { font-weight: 300; color: #7D7B9B; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { font-weight: 300; color: #7D7B9B; }

/* 체크박스 디자인 */
input[type="checkbox"].type1 + label { position: relative; padding-left: 28px; }
input[type="checkbox"].type1 + label:before { content:''; display: block; width: 22px; height: 22px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); border: 1px solid #D4DAEA; border-radius: 8px; }
input[type="checkbox"].type1 + label:after { content:''; display: block; width: 12px; height: 9px; position: absolute; top: 50%; left: 5px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); background: url(~assets/img/common/icon/unchecked.png) no-repeat center / 12px; }
input[type="checkbox"].type1:checked + label:before { border-color: #14B9FF; background-color: #14B9FF; }
input[type="checkbox"].type1:checked + label:after { background-image: url(~assets/img/common/icon/checked.png); }

input[type=checkBox].type2 + label { display: inline-block; height: 34px; padding: 0 12px; line-height: 32px; background-color: #E8F8FF; color: #14B9FF; border-radius: 12px; }
input[type=checkBox].type2 + label ~ input[type=checkBox].type2 + label { margin-left: 2px; }
input[type="checkbox"].type2:checked + label { background-color: #14B9FF; color: #fff; }



/* 라디오박스 디자인 */
input[type="radio"] + label { position: relative; padding-left: 26px; }
input[type="radio"] + label:before { content:''; display: inline-block; width: 20px; height: 20px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); border: 1px solid #9a9ead; border-radius: 100%; }
input[type="radio"] + label:after { content:''; display: inline-block; width: 10px; height: 10px; background-color: #9a9ead; border-radius: 100%; position: absolute; top: 50%; left: 5px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); }
input[type="radio"]:checked + label:before { border-color: #2c67ff; }
input[type="radio"]:checked + label:after { background-color: #2c67ff; }




/*button*/
[class^="btn"] { display: inline-block; vertical-align: middle; text-align: center; }

/* 버튼 디자인 */
.btnBigRound { height: 44px; line-height: 41px; border-radius: 22px; }
.btnIcon { padding: 4px 6px; border-radius: 20px; }
.btnSize0 { padding: 0 4px; font-size: 13px; }
.btnSize1 { height: 32px; padding: 0 6px; line-height: 30px; }
.btnSize2{ height: 40px; padding: 0 8px; line-height: 38px;  }
.btnSize3 { height: 46px; padding: 0 12px; line-height: 44px; }
.btnSize4 { width: 100%; height: 52px; font-size: 15px; line-height: 50px; }
.round0 { border-radius: 100%; }
.round1 { border-radius: 4px; }
.round2 { border-radius: 8px; }
.round3 { border-radius: 16px; }
.round4 { border-radius: 40px; }

/* 버튼 컬러 */
.lightblue { background-color: #7292ff; color: #ffffff; }
.blue { background-color: #14B9FF; color: #ffffff; }
.blue:hover { background-color: #13AFF2; }
.gray1 { background-color: #bbc2d5; color: #ffffff; }
.gray2 { background-color: #c2c9de; color: #ffffff; }
.gray3 { background-color: #e3e9f7; }

.blueLine { border: 1px solid #2c67ff; color: #2c67ff; }

/* 말줄임 */
.ellipsis { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ellipsis_2 { text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.2em; max-height: 2.4em; }

/* table */
table { text-align: center; background: #ffffff; }
th,td { vertical-align: middle; }


/* hidden */
.hidden{ width: 0; height:0; overflow:hidden; font-size: 0; line-height: 0; text-indent: -9999px; position: absolute; left: -9999px; opacity: 0; visibility: hidden; }

/* 정렬 */
.centerBox { text-align: center; }
.leftSide { float: left; }
.rightSide { float: right; }
.clearfix:after{ display: block; clear:both; content:''; }
.leftBox { text-align: left; }
.rightBox { text-align: right; }


/* searchBox */
.schBox { position: relative; }
.schBlue { fill: #14B9FF; }
/*
.schBox > button { position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); text-indent: -9999px;}
*/

/* selectBox 디자인 */
select::-ms-expand{ display: none; /* IE 10, 11 */}
select { height: 40px;  padding: 0 40px 0 12px; border: none; background-image: url(~assets/img/common/icon/arrowDown_bk.svg); background-repeat: no-repeat; background-size: 16px;
  -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; background-position: right 12px center; }

/*.selectBox { position: relative; font-weight: 300; }
.selectBox > * { cursor: pointer; }
.selectBox > .basic { display: inline-block; width: 100%; padding: 0 40px 0 12px; background-image: url(~assets/img/common/icon/arrowDown_bk.svg); background-repeat: no-repeat; background-size: 8px; }
.selectBox > .option {  width: 100%; padding: 4px 0; position: absolute; left: 0; z-index: 5; color: #9a9ead; background-color: #ffffff; border-radius: 4px; }
.selectBox > .option > li { padding-left: 12px; line-height: 40px; }
.selectBox > .option li:hover { font-weight: 400; color: #1f1e21; }
.selectBox .on { display: block; }
.selectBox .off { display: none; }*/
/* 그림자 */
.shadow { border: 1px solid rgba(194, 200, 219, 0.3); box-shadow: 0 0 5px rgba(194, 200, 219, 0.4); -webkit-box-shadow: 0 0 5px rgba(194, 200, 219, 0.4); -moz-box-shadow: 0 0 5px rgba(194, 200, 219, 0.4); }
.tooltip { border: 1px solid rgba(194, 200, 219, 0.3); box-shadow: 0 0 7px rgba(194, 200, 219, 0.8); -webkit-box-shadow: 0 0 7px rgba(194, 200, 219, 0.8); -moz-box-shadow: 0 0 7px rgba(194, 200, 219, 0.8); }

/* 레이아웃 */

.inner { width: 90%; max-width: 1200px; margin: 0 auto; }
.content { padding: 140px 0 80px; }

/* 타이틀 디자인 */
.bigTit { font-size: 24px; }
.subTit { font-size: 20px; }

/* 아이콘 */
.schBox { position: relative; }
.btnDelete { background: url(~assets/img/common/icon/delete.svg) no-repeat center; text-indent: -9999px; }

/* 스크롤바 */
.scrollBox::-webkit-scrollbar { width: 10px; }
.scrollBox::-webkit-scrollbar-track { background-color: transparent; }
.scrollBox::-webkit-scrollbar-thumb { background-color: #bbC2d5; border-radius: 4px; }
.scrollBox::-webkit-scrollbar-button { width: 0; height: 0; }
.scrollBox::-webkit-scrollbar-button:start:decrement, .scrollBox::-webkit-scrollbar-button:end:increment { width: 10px; height: 6px; background-color: transparent; }

.scrollHide{ -ms-overflow-style: none; }
.scrollHide::-webkit-scrollbar{ display:none; }

/* 프로필 이미지 */
.profileBox img { border-radius: 100%; border: 1px solid #9799B8; object-fit: contain; }

/*!* 가로 길이 *!
.widthShort { width: 75px; }
.widthMiddle { width : 150px; }
.widthLong { width: 300px; }*/



