.board_option { justify-content: space-between; }
.board_option button { margin-left: 4px; }
.board_list { display: grid; grid-template-columns: repeat(auto-fit, minmax(304px, 1fr)); grid-gap: 30px; margin-top: 12px; }
.board_list > li { align-items: flex-start; }

.board_img .img_center { padding-bottom: 50%; }
.board_img img { border-radius: 10px; }
.board_txt { padding: 8px 4px; }
.board_sum { margin: 6px 0 12px 0; color: #393C46; }
.board_info > * { display: block; margin: 0 auto; }
.tag_box { max-height: 64px; overflow: hidden; }
.board_btn { justify-content: space-between; }
.board_btn > ul { flex: 1 1 auto; }
.board_btn > button { margin-left: 12px; flex: 0 0 auto; border-radius: 20px;  }
.board_btn > ul > li {display: inline-block;
  vertical-align: middle;
  border: 1px solid #E1E7F3;
  border-radius: 12px;
  min-width: 48px;
  padding: 5px 6px;
  text-align: center; }
.board_btn > ul > li~li { margin-left: 4px;}

@media (max-width: 767px){
  .content { padding-left: 12px; padding-right: 12px; }
}
.tab_list { margin-bottom: 16px; white-space: nowrap; overflow: auto; text-align: center; }
.tab_list > a { display: inline-block; height: 32px; padding: 0 12px; line-height: 31px; border-radius: 20px;}
.tab_list > a~a { margin-left: 2px; }
.tab_list > a.selected { background-color:  #FFEB9D; border-color:  #FFEB9D; }

.board_sum { white-space: normal; }
