@charset "utf-8";

.accountBox > .bigTit { margin-bottom: 32px; font-size: 1.8rem; font-weight: 500; text-align: center; }
.group { margin-bottom: 16px; }
.groupLabel { display: inline-block; margin-bottom: 6px; }
.accountBox .basicInput { width: 100%; background-color: rgba(255, 255, 255, 0.5); }
.guide { display: block; margin-top: 2px; font-size: 12px; font-weight: 300; color: #7292ff; }
.basicInput.mobile { width: 366px; float: left; }
.basicInput.mobile + button { width: 106px; margin-left: 8px; float: left; border-radius: 4px; }
.verifyBox { margin-top: 8px; }

/* 탭 디자인-S */
.findTab { display: table; width: 100%; height: 60px; }
.findTab > a { display: table-cell; width: 240px; height: 100%; font-size: 20px; vertical-align: middle; text-align: center; color: #9da4b7; border-bottom: 1px solid #d9def5 }
.findTab > a.checked { font-weight: 500; color: #1e1e22; border-color: #2c67ff; border-width: 3px; }
/* 탭 디자인-E */

/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
  .accountBox { width: 480px; margin: 0 auto; }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .accountBox { width: 480px; margin: 0 auto; }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  .accountBox { width: 80%; margin: 0 auto; }
}
