@charset "utf-8";

.accountBox { position: relative; }
.accountBox ul { margin-bottom: 20px; }
.accountBox li~li { margin-top: 32px; }
input[type="radio"]:checked + label { color: #3443f5; }
label.findWay { font-size: 15px; }
.tabCont { width: 100%; position: absolute; top: 90px; left: 0; }
.tabCont > .clearfix { width: 960px; }
.guide { margin-top: 4px; text-indent: 26px; }
.group { padding-left: 28px;}
.mobile.basicInput { width: 338px; }
.next { width: 60px;}



.inputBox { display: none; margin-top: 16px; }
.findId, .findPw { float: left; }
