.account_box > h2 {margin-bottom: 28px; }

.login_tool { margin-bottom: 24px; justify-content: space-between; }
.go_find > span:after { content: '·'; }
.go_find > a:hover { text-decoration: underline; }
.sns_login_box { text-align: center; }
.sns_login_box > p > span { display: block; margin: 28px 0; }
.sns_login_list { margin-top: 20px; }
.sns_login_list > a { display: inline-block; width: 50px; height: 50px; border-radius: 100%; text-indent: -9999px; background: url(../img/sns.png) no-repeat center / 162px; }
.sns_login_list > a:first-child { background-position: left; }
.sns_login_list > a:last-child { background-position: right; }
.sns_login_list > a~a { margin-left: 10px; }
.sns_login_box + .horizontal_divider { margin: 30px 0;}
.go_signup { flex-wrap: wrap; justify-content: center; }
.go_signup > * { margin: 4px;}
