.accountBox { position: relative;}
.edit { color: #2c67ff; }
.edit:hover { font-weight: 500; color: #1e55ff; }
.profileHead { text-align: center;}
.profileImgBox { position: relative; }
.profileImgBox > .edit { position: absolute; top: 50%; right: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);}
.profileImgBox img { display: inline-block; width: 108px; height: 108px; border: 1px solid #d4dbed; border-radius: 100%; }
.profileHead .name { display: inline-block; margin-top: 8px; font-size: 15px; }
.profileDetailBox { margin-top: 32px; padding-top: 32px; border-top: 1px solid #d9def5; }
.profileDetailBox > .group { display: table; width: 100%; margin-bottom: 20px; }
.profileDetailBox > .group > * { display: table-cell; vertical-align: middle; }
.profileDetailBox > .group > div:first-child > * { display: inline-block; }
.profileDetailBox > .group > div:last-child > .edit { text-align: right; }
.profileDetailBox strong { width: 100px; font-weight: 300; }
.profileDetailBox .basicInput { width: 320px; }

.popup { width: 100%; padding: 24px; position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); -webkit-transform: translate(-50% , -50%); -moz-transform: translate(-50% , -50%); background-color: #fff; }
.popup > .subTit { margin-bottom: 20px; font-weight: 500; }
.goFindPw { margin-top: 4px; font-size: 13px; text-indent: 4px; }
.group:nth-of-type(2) { margin-bottom: 8px; }

