.account_box > h2 { text-align: center; margin-bottom: 24px; }
.agreement_box + .horizontal_divider { margin: 30px 0; }
.agree_cont { display: none; max-height: 300px; overflow-y: scroll; margin-top: 10px; padding: 12px; border: 1px solid #E1E7F3; border-radius: 12px; }
.agree_cont > div > p { margin-bottom: 8px; }
.agree_list { margin-top: 20px; }
.agree_list > .flex_box { justify-content: space-between; }
.all_agree { margin-top: 16px; border: 1px solid #D4DAEA; height: 46px; border-radius: 12px; color: #B8C3D8; }
.all_agree > svg { fill: #B8C3D8; }
.input_form { padding-bottom: 8px; }
.account_box .profile_img_box_m {margin: 0 auto 20px; position: relative; }



